.lazy-data-grid {
  height: 100%;
  .lazy-data-grid-root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .lazy-data-grid-header-root {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    .lazy-header-container {
      display: flex;
      flex: 1;
      align-items: center;
      border-bottom: 1px solid black;
      box-sizing: border-box;
      user-select: none;

      .lazy-header-cell {
        display: flex;
        align-items: center;
        padding: 0 8px;
        border-right: 1px solid black;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-items: center;
        box-sizing: border-box;

        .lazy-header-cell-content {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .lazy-data-grid-body-root {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    .lazy-grid-row-container {
      display: flex;
      .lazy-grid-row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
        user-select: none;
        box-sizing: border-box;

        flex: 1;
        .lazy-grid-cell {
          padding: 0 8px;
          display: flex;
          align-items: center;
          border-right: 1px solid black;
          box-sizing: border-box;

          white-space: nowrap;
          .cell-content {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .lazy-data-grid-content-root {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: lightblue;
  }
  .lazy-data-grid-footer-root {
    display: flex;
    flex: 1;
  }
}
